azure-core==1.41.0
azure-identity==1.25.3
azure-mgmt-compute==38.2.0
azure-mgmt-core==1.6.0
azure-mgmt-network==31.0.1
azure-mgmt-resource==26.0.0
azure-mgmt-storage==25.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
idna==3.19
isodate==0.7.2
Jinja2==3.1.6
MarkupSafe==3.0.3
msal==1.38.0
msal-extensions==1.3.1
pycparser==3.0
PyJWT==2.13.0
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.7.0
